/*.navbar{
    color: white;
    background-color: black;
    height: 80px;
    
}
.navbar-brand{
    margin-left: 50px;
}
.items{
   float: right;
   margin-left: auto;
}
.nav-item{
    margin: 0 30px;
}
/* header navbar ends here */

body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/281-pai2375-eye-l.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9efba91369a2f9059c1db59835bc9417");
    background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
}

.navbar{
    background-color: whitesmoke;
 }

 .nav-link{
     color: black;
     font-weight: 600;
     font-size: 1.3rem;
 }


.activity-col{
    height: 100vh;
    margin-left: 43%;
    margin-top: 65%;
    color: rgb(73, 72, 72);

}
.activity-list{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 50%;
}
.li{
    margin: 20px 10px;
}
.a-list{
  text-decoration: none;
  color: rgb(73, 72, 72);
  line-height: 1.5;
}
.a-list:hover{
    color: lightblue
}
/* persistent sidebar ends here*/
.body{
    background-color:rgb(131, 127, 127);
    position: relative;
    overflow-x: hidden;
}
.logo{
    margin-left: 90%;
}
.card-container{
    display: flex;
    flex-direction: row;
}
.card-container2{
    display: flex;
    flex-direction: row; 
}
.card-container3{
    display: flex;
    flex-direction: row; 
}
.card{
    height: 490px;
    width: 340px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
.card-body{
    background-color: #08585c;
    color: white;
    align-items: left;
    justify-content: space-around;
}
.card-footer{
    background-color: #08585c;
    border: whitesmoke;
}
.items-col{
    margin-right: 15px;
}
.btn-primary{
    margin-left: 5%;
    background-color: lightblue;
}
.video-container{
    height: 360px;
    width: 610px;
    transform: translate(50%, 0%);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 4;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    
}
.dismiss-btn{
    position: relative;
    float: right;
    display: flex;
    height: 40px;
    width: 90px;
}
.hide{
    display: none;
}
.my-modal{
    transform: translate(5%, 30%);
    height: 460px;
    width: 600px;
    background-color: transparent;
    position: relative;
}
.close-button{
    background-color: white;
    float: right;
    font-size: 18px;
    position: relative;

}

.player{
    height: 100%;
    width: 100%;
}
.modal-header{
    background-color: black;
}
.modal-body{
    background-color: rgb(0, 57, 71);
    
}
#mymodal{
    height: 600px;
    width: 700px;
}

.movie-modal{
   transform: translate(0%, 0%);
   height: auto;
   width: 500px;
}

.modal-content{
  background-color: black;
}
.movie-input{
    width: 75%;
}

.search-button{
    width: auto;    
}
.modal-footer{
    background-color:  rgb(189, 167, 167);;
    color: white;
}
.list-dropdown{
    list-style-type: none;
}
.list-button{
    margin-top: 10px;
    width: auto;
}
.add-button{
    margin-left: 5px;
}
.err-message{
    color: white;
}
#searchmodal{
    transform: translate(0%, 0%);

}
.zip-search{
    width: 75%;
    height: 5vh;
    margin-right: 5px;
}